In [1]:
!pip install ortools

Requirement already satisfied: ortools in /usr/local/lib/python3.6/dist-packages (7.6.7691)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from ortools) (1.12.0)
Requirement already satisfied: protobuf>=3.11.2 in /usr/local/lib/python3.6/dist-packages (from ortools) (3.12.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.11.2->ortools) (46.3.0)

In [0]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from ortools.sat.python import cp_model
model = cp_model.CpModel()

In [0]:
#Since total people are 7, lets assume maximum tables would be 7 for initialization purpose without any constraint.
max_tables=7

In [0]:
#Initialize the variables
Jaime=model.NewIntVar(0,max_tables-1,'Jaime')
Beth=model.NewIntVar(0,max_tables-1,'Beth')
Jon=model.NewIntVar(0,max_tables-1,'Jon')
Daenerys=model.NewIntVar(0,max_tables-1,'Daenerys')
Cersei=model.NewIntVar(0,max_tables-1,'Cersei')
Sansa=model.NewIntVar(0,max_tables-1,'Sansa')
Tyrion=model.NewIntVar(0,max_tables-1,'Tyrion')

In [0]:
#For Storing the values in a single list
values=[Jaime,Beth,Jon,Daenerys,Cersei,Sansa,Tyrion]

In [6]:
#Adding Jaime's enemies and friends
model.Add(Jaime != Jon)
model.Add(Jaime == Cersei)

#Adding Beth's friends
model.Add(Beth == Tyrion)

#Adding Jon's friends and enemies
model.Add(Jon == Daenerys)
model.Add(Jon != Jaime)
model.Add(Jon != Tyrion)

#Adding Daenerys friends and enemies
model.Add(Daenerys == Jon)
model.Add(Daenerys != Cersei)

#Adding friends and enemies of Cersei
model.Add(Cersei == Jaime)
model.Add(Cersei != Daenerys)
model.Add(Cersei != Sansa)

#Adding Sansa's enemies
model.Add(Sansa != Cersei)

#Adding Tyrions friends and enemies
model.Add(Tyrion == Beth)
model.Add(Tyrion != Jon)

In [0]:
#Minimizing the number of tables
model.Minimize(sum(values))

In [0]:
solver=cp_model.CpSolver()
status=solver.Solve(model)

In [0]:
#Saving the names for looping through
names=['Jaime','Beth','Jon','Daenerys','Cersei','Sansa','Tyrion']

In [10]:
#Shows table number assigned for every member in a minimized manner
for i in range(0,len(names)):
  print(names[i] + " : Table Number --> ")
  print(solver.Value(values[i]))

Jaime : Table Number -->
0
Beth : Table Number -->
0
Jon : Table Number -->
1
Daenerys : Table Number -->
1
Cersei : Table Number -->
0
Sansa : Table Number -->
1
Tyrion : Table Number -->
0

In [0]:
result=[]
for i in range(0,len(values)):
  result.append(solver.Value(values[i]))

In [14]:
print("Number of Maximum tables required : " + str(len(set(result))))

Number of Maximum tables required : 2